---
import Layout from "../layouts/Layout.astro";

---

<Layout title="404 Not found">
<div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl text-center" > esta pagina no existe espabila</h1>
<img src="https://cdn.discordapp.com/attachments/600351140802199563/1145561220146008197/FJUv0G6XoAE8yqs.png?ex=65519886&is=653f2386&hm=3b5990ee8d6f06a79691d204cf4c2fd7d420171b21f401c097201d97e80d518d&" />

</div>
</Layout>